:root {
    --gridwidth: 0px;
}

/* GAME VARIABLES */

.grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: var(--gridWidth);
    height: var(--gridWidth);
    background-size: 100%;
    background: rgba(0,0,0,0.5);
    /*background-image: url("imgs/yellow-bg.jpg");*/
    background-size: cover;
    background-position: center;
}

.square {
    width: calc(var(--gridWidth)/16);
    height: calc(var(--gridWidth)/16);
}

.snake {
    background: lightgreen !important;
    /*border: 1px black solid;*/
    border-radius: 40%;
}

.apple {
    background-image: url("imgs/apple.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: scale(1.2);
}


/* STYLING */
body {
    font-family: 'Press Start 2P', cursive;
    margin: 0 auto;
    background: rgb(31, 22, 53);
    background-image: url("imgs/retro-bg.jpg");
    background-size: cover;
}

h1 {
    color: rgb(250, 125, 193);
    font-size: 2.25rem;
    margin: 0 auto;
    padding-top: 0.5em;
    padding-bottom: 1em;
    transition: transform 250ms;
}

h1:hover,
h1:active {
    transform: scale(1.1);
}

p {
    color: rgb(250, 125, 193);
    color: white;
    margin: 0 auto;
    padding-bottom: 2.2em;
    font-size: 1rem;
}

button {
    margin-bottom: 0.8em;
    border: none;
    border-radius: 5px;
    padding: 0.15em 1em;
    cursor: pointer;
    background: rgb(250, 125, 193);
    color: #F2F2F2;
    font-weight: 900;
    letter-spacing: 1.5px;
    font-size: 1rem;
    top: 50%;
    border: 0.5px solid pink;
    transition: transform 250ms, opacity 250ms, visibility 300ms;
}

button:hover {
    transform: scale(1.1);
}

button:active {
    transform: scale(1);
}

span {
    display: inline-block;
    margin-top: 0.5em;
}

.container {
    margin: 0 auto;
    text-align: center;
    height: 100vh;
}

.purple-bg {
    background: linear-gradient(rgba(31, 22, 53, 0.5), rgba(31, 22, 53, 0));
    max-width: calc(var(--gridWidth)*1.33);
    margin: 0 auto;
    border-radius: 20%;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.fade-out-btn {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.fade-out-modal {
    opacity: 0;
}

.fade-in {
    opacity:
}

#new-game-modal {
    font-weight: bold;
    position: absolute;
    top: calc(var(--gridWidth)/2.35);
    left: 0;
    right: 0;
    width: var(--gridWidth);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: rgb(0, 0, 0, 0.5);
    padding: 8vh 0;
    border-radius: 20px;
    animation: fade 1s;
}

#game-over-modal {
    display: none;
    font-weight: bold;
    position: absolute;
    top: calc(var(--gridWidth)/2);
    left: 0;
    right: 0;
    width: var(--gridWidth);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background: rgb(0, 0, 0, 0.5);
    padding: 11vh 0;
    border-radius: 20px;
    animation: fade 1s;
}

@media (max-width: 550px) {
    h1 {
        font-size: 2rem;
        width: 100%;
        padding: 0.5em 0;
        margin-top: 0.33em;
    }

    #score {
        display: none;
    }
}


/* Animations */

@keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
