:root {
    --gridwidth: 0px;
}

/* GAME VARIABLES */

.grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: var(--gridWidth);
    height: var(--gridWidth);
    background-size: 100%;
    background: rgba(0,0,0,0.5);
    /*background-image: url("imgs/yellow-bg.jpg");*/
    background-size: cover;
    background-position: center;
}

.square {
    width: calc(var(--gridWidth)/16);
    height: calc(var(--gridWidth)/16);
}

.snake {
    background: lightgreen;
    /*border: 1px black solid;*/
    border-radius: 40%;
}


/* STYLING */
body {
    font-family: 'Press Start 2P', cursive;
    margin: 0 auto;
    background-image: url("imgs/retro-bg.jpg");
    background-size: cover;
}

h1 {
    color: rgb(250, 125, 193);
    background: rgb(31, 22, 53);
    font-size: 2.2rem;
    width: calc(var(--gridWidth)/1.25);
    margin: 0 auto;
    padding: 0 0.3em;
    padding-top: 0.5em;
    padding-bottom: 0.33em;
}

p {
    color: rgb(250, 125, 193);
    background: rgb(31, 22, 53);
    width: calc(var(--gridWidth)/1.28);
    margin: 0 auto;
    padding-top: 1em;
    padding-bottom: 1.2em;
    font-size: 1.25rem;
}

button {
}

.container {
    margin: 0 auto;
    text-align: center;
}

@media (max-width: 550px) {
    h1 {
        font-size: 2rem;
        width: 100%;
        padding: 0.5em 0;
        margin-top: 0.33em;
    }

    #score {
        display: none;
    }
}
